<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request to reset password</title>
</head>
<body>
    {{!-- there must be logo right here  --}}
    {{!-- and also there must be some description about the company --}}
    {{!-- and also some description about the action that the user intend to do --}}
    {{!-- the link to reset its own password --}}
    <div>
        <p>Hi {{name}},</p>
        <p>You request to reset your password.</p>
        <p>please click the link below to reset your password</p>
        <a href="http://{{ link }}" target="_blank">Reset password</a>
    </div>
</body>
</html>