<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfull Password reset</title>
</head>
<body>
    <div>
        <p>Hi {{name}},</p>
        <p>Your password is reseted Successfully!.</p>
    </div>
</body>
</html>